@using Tnosc.Lib.Client.Web.Bases
@using Tnosc.Lib.Client.Web.Bases.Cards
@using Tnosc.Lib.Client.Web.Bases.Components
@using Tnosc.Lib.Client.Web.Bases.Forms
@using Tnosc.Lib.Client.Web.Containers
@using Tnosc.OtripleS.Client.Application.ViewModels.Students
@inherits AppViewComponent
@rendermode InteractiveAuto

<CardBase Title="Student Registration"
		  SubTitle="Please fill in the below fields">
	<Content>
		<ContainerComponent State=State>
			<Content>
				<div>
					<TextBoxBase @ref="StudentIdentityTextBox"
								 PlaceHolder="Student Identity"
								 @bind-Value="StudentView.IdentityNumber" />

					<ValidationSummaryBase Key="@nameof(StudentView.IdentityNumber)"
											ValidationData="@ValidationData"/>
					<br />
					<TextBoxBase @ref="StudentFirstNameTextBox"
								 Placeholder="First Name"
								 @bind-Value="StudentView.FirstName" />

					<ValidationSummaryBase Key="@nameof(StudentView.FirstName)"
										   ValidationData="@ValidationData" />
					<br />
					<TextBoxBase @ref="StudentMiddleNameTextBox"
								 Placeholder="Middle Name"
								 @bind-Value="StudentView.MiddleName" />

					<ValidationSummaryBase Key="@nameof(StudentView.MiddleName)"
										   ValidationData="@ValidationData" />
					<br />
					<TextBoxBase @ref="StudentLastNameTextBox"
								 Placeholder="Last Name"
								 @bind-Value="StudentView.LastName" />

					<ValidationSummaryBase Key="@nameof(StudentView.LastName)"
										   ValidationData="@ValidationData" />
					<br />
					<DropDownBase @ref="StudentGenderDropDown"
								  TEnum="StudentViewGender"
								  @bind-Value="StudentView.Gender" />

					<ValidationSummaryBase Key="@nameof(StudentView.Gender)"
										   ValidationData="@ValidationData" />
					<br />
					<DatePickerBase @ref="DateOfBirthPicker"
									@bind-Value="StudentView.BirthDate" />

					<ValidationSummaryBase Key="@nameof(StudentView.BirthDate)"
										   ValidationData="@ValidationData" />
					<br />
					<LabelBase @ref="StatusLabel"
							   Color="Tnosc.Lib.Client.Web.Enums.Color.Red" />
				</div>
			</Content>
		</ContainerComponent>
	</Content>
	<Footer>
		<div align=right>
			<ButtonBase @ref="SubmitButton"
						Label="SUBMIT"
						OnClick="(async() => await RegisterStudentAsync())" />
		</div>
	</Footer>
</CardBase>